<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <% if @borrower.user_profile.first_name != "" %>
      <h1>Hello, <%= @borrower.user_profile.first_name %></h1>
    <% else %>
      <h1>Hello, <%= @borrower.user_profile.username %></h1>
    <% end %>
    
    <p>
      The item <%= link_to @item.item_name, @url %> is on its way. Please update the status on the item once you recieve it. <br>
    </p>
    
    <p>Please do not reply to this email.</p>
  </body>
</html>