<h1> new comment </h1>
<div class="owner-action btn btn-info">
    <%= link_to 'Skip', "/items" %>
</div>


<div class='row'>
  <div class='col-2'>
  </div>
  <div class="col-8">
    <div class="text-form form-group">
      <h1>Review</h1>
      <%= render 'comment_form' %>

    </div>
  </div>
</div>
