/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require jquery-ui
 *= require_tree .
 *= require_self
 */
@import "font-awesome";
 .col-1 {width: 8.33%;}
 .col-2 {width: 16.66%;}
 .col-3 {width: 25%;}
 .col-4 {width: 33.33%;}
 .col-5 {width: 41.66%;}
 .col-6 {width: 50%;}
 .col-7 {width: 58.33%;}
 .col-8 {width: 66.66%;}
 .col-9 {width: 75%;}
 .col-10 {width: 83.33%;}
 .col-11 {width: 91.66%;}
 .col-12 {width: 100%;}

 [class*="col-"] {
    float: center;
    padding: 30px;
}

input[type=text] {
    color: black !important;
}
.nav-item{
  resize: both;
  min-width: 130px;
  text-align: center;
}

.nav-item-footer{
  color:black;
}

.navbar-custom {
  background-color: #406566 !important;
  min-height: 70px !important;
  top:0;
  left:0;
  margin-bottom: 0px !important;
  width: 100%;
}

.container {
  width: 100%;
}

#hamster-nest {
  left:20%;
  position:relative;
}

#navi-hide {
  right:5%;
  position:relative;
}

#navbarResponsive {
  right:5%;
  position:relative;
}

#search-box {
  display: block;
  float: left;
  overflow:hidden;
  position:relative;
  width: 70%;
}

/* #advanced-search-span {
  position:relative;
} */

#top-banner {
  top:0;
  overflow:visible;
  position:relative;
  width: 100%;
}

#main-body {
  overflow: hidden;
  position:relative;
  width: 100%;
}

#footer {
  padding: 0;
  overflow: hidden;
  position:relative;
  width: 100%;
  background:url('footer.jpg') no-repeat center top #FFF;
  background-size: 100% 100%;
}

#section-1-container {
  width: 100%;
  background:url('session1.jpg') no-repeat center top #FFF;
  background-size: 100% 100%;
}

.alert {
  position:absolute;
  top:0px;
  width: 100%;
  opacity:0.8 !important;
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }

/*
 * Error style
*/

.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
    width:40%;
 }

.alert-danger {
  width:40%;
  margin-left: 100px;
}

.section-container { margin: 0 auto; padding-bottom: 80px; }
.section-description p { margin-top: 20px; padding: 0 120px; }
.section-description { margin-top: 60px; padding-bottom: 10px; }

h1 {
  text-align: center;
}

.fa {
    color: #000;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 70px;
    float: right;
}

.footer-icon {
    font-size: 25px;
    float: left;
}
