<div class="contact_page">
<h1>Contact Us</h1>
<p>Office: University of Toronto (St.George Campus)</p>
<p><a href="mailto:esther.chen@mail.utoronto.ca">Team Leader: Chen</a></p>
<p><a href="mailto:HamsterNestOfficial@gmail.com">HamsterNestOfficial@gmail.com</a></p>
</div>