<h1>FAQ</h1>
<h3>How does HamsterNest help you?</h3>
<p>
HamsterNest was built to connect lenders and borrowers, 
so they can easily trade their items with hassle-free
</p>
<h3>How many members developing HamsterNest?</h3>
<p>
We are a team of six in Computer Engineering of University of Toronto 
</p>
<h3>Is HamsterNest free</h3>
<p>
At this point, HamsterNest is totally free.
</p>
