<%- if user_signed_in? %>
  <h1>Welcome!!!!<%=@user_name%></h1>
  <body>Who doesn't like commercial?</body>
<% else %>
  <h1>Hello!!!!HamsterNest</h1>
  <body>Commercial</body>
<% end -%>

<footer><%= link_to "About us", "/welcome/about" %></footer>
