<div class="introduction">
<%- if user_signed_in? %>
  <h1>Welcome!!!!<%=@user_name%></h1>
  <body>Who doesn't like commercial?</body>
<% else %>
  <body>
  <h3>Borrow from friends and the world around you on HamserNest.</h3>
  </body>
<% end -%>
</div>
