<div class="policy">
<h1>Privacy Policy</h1>
<h2>Information Collection And Use</h2>
<p>
While using our Site, we may ask you to provide us with certain personally identifiable information
that can be used to contact or identify you. Personally identifiable information may include, but is not 
limited to your name ("Personal Information").
</p>
<h2>Log Data</h2>
<p>
Like many site operators, we collect information that your browser sends whenever you visit our Site ("Log Data").
</p>
<h2>Communications</h2>
<p>
We may use your Personal Information to contact you with newsletters, marketing or promotional materials
</p>
<h2>Cookies</h2>
<p>
Cookies are files with small amount of data, which may include an anonymous unique identifier. 
Cookies are sent to your browser from a web site and stored on your computer's hard drive.
</p>
<p>
Like many sites, we use "cookies" to collect information. You can instruct your browser to refuse all 
cookies or to indicate when a cookie is being sent. However, if you do not accept cookies, you may 
not be able to use some portions of our Site.
</p>
<h2>Security</h2>
<p>
The security of your Personal Information is important to us, but remember that no method of 
transmission over the Internet, or method of electronic storage, is 100% secure. While we strive to 
use commercially acceptable means to protect your Personal Information, we cannot guarantee its
absolute security.
</p>
</div>