<div class="about_page">
<h1>About Us</h1>
<br />
<br />

<p> Our product provide a convient way for lenders to advertise and lend their items 
    and borrowers to borrows any items with a single click.</p>
<br />

<p> And guess what!? Our service is free of charge.</p>
<br />

<p> Over the years, we have seen many people having trouble borrowing items
    that they can't afford. Meanwhile, some people have things that they have never used
    for a long time. That was when our product came to mind.</p>
<br />

<p> Our goal is to build and sustain a supply and demand system between lenders and borrows.</p>
</div>