<div class = "profile_form" >

  <%= form_with model: @user_profile, local: true do |form| %>

    <div class="field">
      <%= form.label :lend_rating, "Rate your lend experience (1-5)" %><br>
      <%= form.number_field :lend_rating, min:0, max:5, default:5, :class => 'form-control'%>
    </div>



    <div class="actions">
      <p>
        <%= form.submit "Complete rating", :class => 'form-control'%>
      </p>
    </div>

  <% end %>
</div>
