.comment_form{
    margin-left: 30%;
}
.owner-action{
    float:right;
    margin-right: 5%;
}
input#comment_lend_rating{
    width: 60px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
}