<p>
  <strong>Item: </strong>
  <%= link_to @item.item_name, item_path(@item.id) %>
</p>
<p>
  <strong>Status: </strong>
  <%= @status %>
</p>
<p>
  <strong>Category: </strong>
  <%= @item.category %>
</p>