<body>
  <div class='row'>
    <div class='col-10'>
      <h1>Create Item</h1>
    </div>
  </div>
  <div class='row'>
    <div class='col-10'>
      <%= render 'form' %>
      <%= link_to 'Back', user_profile_items_path %>
    </div>
  </div>
</body>
