<div class='row'>
  <div class='col-2'>
  </div>
  <div class="col-8">
    <div class="text-form form-group">
      <h1>New Item</h1>
      <%= render 'form' %>
      <%= link_to 'Back', user_profile_items_path %>
    </div>
  </div>
</div>
